/* .card {
    max-width: 400px;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 0px;
    margin: 10px;
    background-color: #e2e2e2;
    position: relative;
}
.way-of-doing {
  position: absolute;
  top: 0;
  right: 0px;
  background-color: #474746;
  color: #ffffff;
  padding: 10px;
}
.card-body {
  height: 100px;
}
.card img {
    width: 100%;
    padding: 10px;
    height: 250px;
    display: block;  
}
/* .abs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
} */
/* 
.card a {
    text-decoration:  none;
    padding: 10px;
    color: #ffffff;
    float: right;
    font-weight: bold;
    background-color: #207c71;
    font-size: 15px;
   
}
.card a:hover {
  background-color:#474746 ;
}
.card:hover {
  background-color: #207c71;
}
.card p {
    font-weight: bold;
    font-size: 15px;
    color: rgb(99, 99, 99);
    margin-bottom: 5px;
}
.card-body p {
  font-size: 10px;
  color:rgb(99, 99, 99);

}
.card:hover p, .card:hover span {
  color: #ffffff;
}
.card-body span {
  color: rgb(99, 99, 99);
}

.info:hover {
    text-decoration: underline;
}
.info {
    border:none !important;
}
*/

.configtogo {
  position: fixed;
  text-align: center;
  
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #474746;
  z-index: 999;
  padding: 20px;
  color: #eceae7;
  animation: popCheck 0.2s ease-in-out forwards;
}

.card {
  width: 300px;
  height: 300px;
  border-radius: 0px;
  margin: 5px;
  box-shadow: 1px 2px 2px #bbbbbbb6;
  border: none;
}

.card-header {
  border-bottom: 1px solid #bbbbbba4;
  height: 50%;
  text-align: center;
  background-color: #f0f0f0;
}
.card-body {
  height: 40%;
  text-align: center;
}
.card-bottom {
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-top: 1px solid #bbbbbba4;
  background-color: #f0f0f0;
}
.card a {
  cursor: pointer;
  color: #3e3e3e;
}
.card a:hover {
  font-weight: bold;
  color: #207c71;
}
.card:hover {
  background-color: #207c71;
  transition: 0.3s ease-in-out;
}
.card:hover p, .card:hover span {
  color: #f0f0f0;
}
.card img {
  width: 70px;
  height: 70px;
  border: 1px solid rgb(231, 231, 231);
  transform: translateY(90px);
  border-radius: 50%;
  padding: 3px;
}

.card p {
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: bold;
  color: #474746;
}
.card span {
  font-size: 12px;
}

.configtogo h1 {
  color: #eceae7;
  font-size:30px;
  padding: 10px;
}
.configtogo a {
  border: none;
  text-decoration: none;
  color: #eceae7;
  padding:10px 20px;
  font-size: 30px;
  cursor: pointer;
}
.approve {
  background-color: #207c71;
}
.decline {
  background-color: rgb(167, 23, 52);
}
.decline:hover {
  background-color:rgb(109, 16, 34);
}
.approve:hover {
  background-color: #207c7194;
}

@-webkit-keyframes shadow-pop-tr {
    0% {
      -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
              box-shadow: 0 0 #bebebe, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
              box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
      -webkit-transform: translateX(-8px) translateY(8px);
              transform: translateX(-8px) translateY(8px);
    }
  }
  @keyframes shadow-pop-tr {
    0% {
      -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
              box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
              box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
      -webkit-transform: translateX(-8px) translateY(8px);
              transform: translateX(-8px) translateY(8px);
    }
  }

  
@media(max-width:420px) {
  .configtogo {
    background-color: #474746;
    width: 100%;
  }
  .configtogo h1 {
    color: #eceae7;
  }

}