<div *ngIf="aboutOn; else null" class="about" >
  <div class="about_me_question" id="about">
    <h1>
      WHO AM I <i style="font-size: 20px;" class="fa fa-question"></i>
      <i style="font-size: 25px;" class="fa fa-question"></i>
      <i style="font-size: 30px;" class="fa fa-question"></i>
    </h1>
  </div>
  <div class="about_me_text">
    <div class="about_me_paragraph">
      <p>
        Hello everyone, I am Djordje Kocic. I like coffee,sports and go to
        gym...and I really love what I do.For me, the daily goal is to be better
        today then yesterday.
      </p>
      <p>
        Looking at it today, it’s just amazing how it all started with the goal
        to create beautiful and interesting websites, that will hold our
        attention, and not like most pages that are monotonous and boring. We
        live in the era of the Internet, and it is clear that websites play an
        important role in our coping in that era. You have just met someone who
        will make these websites work and look perfect. Feel free to contact me,
        and with cup of coffee we will find the way to combine my skills and
        your ideas.
      </p>
    </div>
  </div>
</div>
