<div class="projects">
    <img class="overlayimg" src="../../assets/images/photo-1515879218367-8466d910aaa4.jpg" alt="">
    <div class="my-projects">
        <div class="projects-question">
            <h1>MY PROJECTS </h1>
        </div>
        <div class="projects-text">
            <p>MY LATEST WEB PROJECTS</p>
            <span>If you wont to see more of my projects <a href="https://github.com/Acengen" target="_blank">Link</a></span>
        </div>
        <div class="project-card">
            <app-single-prod *ngFor="let prod of projects; let i = index" [project]="prod" [index]="i"></app-single-prod>
        </div>
    </div>
    <app-my-games></app-my-games>
</div>


