<div class="my-projects" *ngIf="aboutme; else null" id="projects">
    <div class="projects-question">
        <h1>MY PROJECTS <i style="font-size: 20px;" class="fa fa-question"></i>
            <i style="font-size: 25px;" class="fa fa-question"></i>
            <i style="font-size: 30px;" class="fa fa-question"></i></h1>
    </div>
    <div class="projects-text">
        <p>MY LATEST WEB PROJECTS</p>
        <span>If you wont to see more of my projects <a href="https://github.com/Acengen" target="_blank">Link</a></span>
    </div>
    <div class="project-card">
        <app-single-prod *ngFor="let prod of projects; let i = index" [project]="prod" [index]="i"></app-single-prod>
    </div>
</div>


