body {
  background-color: #32ff7e;
}
.loading {
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 
}
.loading span {
  
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #32ff7e;
  display: inline-block;
  margin: 4px;
  box-shadow: 0 0 8px 1px #32ff7e;
  transition: .5s;
  
}
.loading span:nth-child(1) {
 animation: moving1 3s ease-in-out infinite;
}
.loading span:nth-child(2) {
  animation: moving2 3s ease-in-out infinite .6s;
}
.loading span:nth-child(3) {
  animation: moving3 3s ease-in-out infinite .8s;
}
.loading span:nth-child(4) {
  animation: moving4 3s ease-in-out infinite 2.6s;
}
.loading span:nth-child(5) {
  animation: moving5 3s ease-in-out infinite 2s;
}

@keyframes moving1 {
  0%, 100% {
    top: 0;
    left: 0;
  } 25%, 75% {
    top: 0;
    left: -25%;
  } 50% {
    top: -80px;
    left: -25%;
  } 
  
}
@keyframes moving2 {
  
  0%, 100% {
    left: 0;
  } 50% {
    left: -25%; 
  } 75% {
    left: -2%; 
  }
}
@keyframes moving3 {
  
  0%, 100% {
    left: 0;
  } 35% {
    left: -25%;
  } 70% {
    left: 2%;
  } 85% {
    left: 13%;
  }
}


@keyframes moving4 {
  0%, 100% {
    left: 0;
  } 50% {
    left: 25%;
  } 75% {
    left: 2%;
  }
  
  
}

@keyframes moving5 {
  
  0%, 100% {
    top: 0;
    left: 0;
  } 25%, 75% {
    top: 0;
    left: 25%;
  } 50% {
    top: -80px;
    left: 25%;
  }
}

