<div  class="myskills">
  <div class="my_skills">
    <h1>
      MY SKILLS
    </h1>
  </div>
  <div class="container">
    <div class="html_css_js">
      <div class="html_css_js_image">
        <img
          src="../../assets/images/file-icon-html-css-end-front-development-icons-developer-format-512.png"
          alt=""
        />
      </div>
      <div class="html_css_js_text">
        <h2><span>1.</span> HTML/CSS JAVASCRIPT</h2>
        <p>
          Those <span style="font-weight: bold;">three</span> is "MUST" know!
          Hypertext Markup Language is the standard markup language for documents designed to be displayed in a web browser. It can be assisted by technologies such as Cascading Style Sheets and scripting languages such as JavaScript.
        </p>
        <div class="sass">
          <div style="display: flex;">
            <img src="../../assets/images/377-3771917_scss-logo.png" alt="">
            <h3 style="align-self: center;"><span>1.1</span> SCSS</h3>
          </div>
          <p>Sass is a preprocessor scripting language that is interpreted or compiled into Cascading Style Sheets. SassScript is the scripting language itself. Sass consists of two syntaxes. </p>
        </div>
      </div>
    </div>

    <div class="bootstrap_4">
      <div class="bootstrap_4_text">
        <h2><span>2.</span> BOOTSTRAP</h2>
        <p>
          Bootstrap is the most popular HTML, CSS, and JavaScript framework for
          developing responsive, mobile-first websites. I use it most of the
          time because it's easy to use and very helpful.
        </p>
      </div>
      <div class="bootstrap_4_image">
        <img src="../../assets/images/bootstrap-stack.png" alt="" />
      </div>
    </div>
    <div class="angular_2">
      <div class="angular_2_image">
        <img src="../../assets/images/1_7WeQGvRghyIVWVliG3kMsQ.png" alt="" />
      </div>
      <div class="angular_2_text">
        <h2><span>3.</span> ANGULAR</h2>
        <p>
          Angular is a TypeScript-based open-source web application framework.
          For me <span style="font-weight: bold;">angular</span> is the most
          powerful tool for front end developers. It's so well organized that
          you think you can do anything. If you learn how to use services,
          routes, forms and guards, you will be unstoppable :).
        </p>
      </div>
    </div>
    <div class="react_js">
      <div class="react_js_text">
        <h2><span>4.</span> REACT</h2>
        <p>
          React is a JavaScript library for building user interfaces. React is
          used to build single page applications. React is good for use because
          it is flexible. My experience with
          <span style="font-weight: bold;">React</span> is good, i mostly manage
          my state with context api and hooks.
        </p>
      </div>
      <div class="react_js_image">
        <img src="../../assets/images/1280px-React-icon.svg.png" alt="" />
      </div>
    </div>
    <div class="c_sharp">
      <div class="c_sharp_image">
        <img src="../../assets/images/logo_aspmvc345.png" alt="" />
      </div>
      <div class="c_sharp_text">
        <h2><span>5.</span> ASP.NET CORE</h2>
        <p>
          <span style="font-weight: bold;">ASP.NET Core</span> is a free and open-source web framework and successor to ASP.NET, developed by Microsoft. It is a modular framework that runs on both the full .NET Framework, on Windows, and the cross-platform .NET Core. I'm using asp net core to create webapi and <span style="font-weight: bold;">Sqlite</span> or <span style="font-weight: bold;">SqlServer</span> for database.
        </p>
      </div>
    </div>
    <div class="unity_3d">
      <div class="unity_3d_text">
        <h2><span>6.</span> Unity3D</h2>
        <p>
          <span style="font-weight: bold;">Unity</span>

          is a cross-platform game engine. Well… I like playing games, and I
          made couple of games and you can see them in a next section. I'm
          using the 2019 version of unity.
        </p>
      </div>
      <div class="unity_3d_image">
        <img src="../../assets/images/unity3d1.jpg" alt="" />
      </div>
    </div>
  </div>
</div>
