<div class="contact-me-footer" *ngIf="isActive">
    <a href="https://www.facebook.com/kocic2?ref=bookmarks" target="_blank"><i class="fa fa-facebook-official"></i></a>
    <a href="https://www.instagram.com/djordjekocic89/?hl=en" target="_blank"><i class="fa fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/djordje-kocic-3383881a0/" target="_blank"><i class="fa fa-linkedin-square"></i></a>
    <a href="https://github.com/Acengen" target="_blank"><i class="fa fa-git-square"></i></a>
    <p>CONTACT ME</p>

    <div class="allrights">
        <span>All rights reserved<i class="fa fa-copyright"></i></span>
    </div>
</div>
